@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    background: white;
}

.navbar-bg {
    background: #C04848;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.stylized-text {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Wejście strony */
.page-enter {
    opacity: 0;
}

/* Strona jest widoczna */
.page-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

/* Wyjście strony */
.page-exit {
    opacity: 1;
}

/* Strona znika */
.page-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

/* Dla animacji tekstu na HeroSection */
.fade-enter {
  opacity: 0;
    position: absolute;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
